.body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  a {
    color: hsl(var(--foreground));
    text-decoration: none;
    text-transform: uppercase;
  }

  p {
    margin: 0px;
    display: flex;
    overflow: hidden;
    font-size: clamp(32px, 5vw, 64px); 
    font-weight: 350;
  }
}

@media only screen and (min-width: 768px) {
  .body {
    margin-top: 60px;
    
    p {
      font-size: clamp(40px, 4.5vw, 80px);
    }
  }
}

@media only screen and (min-width: 1000px) {
  .body {
    margin-top: 80px;

    p {
      font-size: 5vw; 
    }
  }
}
