.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.navInner {
  overflow: hidden;

  .wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 30px 36px;
    margin-bottom: 12px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .navInner {
    .wrapper {
      padding: 60px 40px;
      gap: 30px;
      justify-content: flex-start;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .navInner {
    .wrapper {
      padding: 80px 40px 40px 40px;
      gap: 50px;
      margin-bottom: 0px;
      justify-content: space-between;
    }
  }
}
